.form-component {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1e5ea;
  width: 500px;
}

form {
  border: 3px solid #0d6efd;
  padding: 20px;
}

.show {
  display: block;
}
